# created by virtualenv automatically

/Lib/site-packages/
/Scripts/
/.idea/
/database.rules.json
/package-lock.json
/package.json
/firebase.json
/.firebaserc
/public/
/node_modules/
/.github/workflows/
/.firebase/
