<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  const firebaseConfig = {
    apiKey: "AIzaSyDue501VYxKJ4DG8S6gSnre9UqI6dpBdMY",
    authDomain: "ventas-sidecom.firebaseapp.com",
    projectId: "ventas-sidecom",
    storageBucket: "ventas-sidecom.appspot.com",
    messagingSenderId: "394339999365",
    appId: "1:394339999365:web:5b9d22c89c4a0a19f993ec"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
</script>
</html>